.App .units {
  position: relative;
  top: -12px;
}

.App .active {
  color: #000;
  pointer-events: none;
  text-decoration: none;
}

.App .inactive:hover {
  cursor: default;
  color: #000;
}

.App #current-temperature strong {
  font-size: 20pt;
  line-height: 130%;
}
